/* Media Query para Tablets y Dispositivos Móviles */
@media screen and (max-width: 768px) {
  /* Header */
  /* navbar */
  .nav {
    gap: 10px;
  }
  .lista-nav {
    position: absolute;
    top: 65px;
    width: 90%;
    left: 5%;
    right: 5%;
    border-top: 0;
    flex-direction: column;
    background-color: rgb(126, 48, 24);
    border-radius: 15px;

    padding: 45px 30px;
    display: none;
  }
  .lista-nav a {
    font-size: 18px;
  }
  .active-btn {
    background-color: var(--btn-clr);
  }
  .men-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }
  #men-toggle:checked + .lista-nav {
    display: flex;
  }

  /* Hero Section */
  #hero {
    padding: 50px 0;
  }

  .hero-info {
    padding: 20px;
  }

  .hero-info h1 {
    font-size: 28px;
    min-width: auto;
  }

  /* Text Section */
  .texto {
    padding: 10px;
    text-align: center;
  }

  .texto h1 {
    font-size: 24px;
  }

  .texto p {
    display: none;
  }

  /* Middle Text Section */
  #info-maps .middle-text {
    padding: 20px;
  }

  /* Cards Section */
  #cards {
    padding: 10px;
  }

  .subtitle-cards h2 {
    justify-content: center;
    align-items: center;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 10px;
  }

  .card {
    width: 100%;
  }

  /* Contact Section */
  #contacto {
    padding: 20px 0;
  }

  .contact-us {
    padding: 10px;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .contact-card {
    padding: 10px 0;
  }

  .icon-info {
    flex-direction: column;
    gap: 5px;
  }

  /* Footer */
  .footer-info {
    flex-direction: column;
    gap: 1rem;
  }

  .ull {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .ull li {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 1.2rem;
  }

  .ull li i {
    font-size: 1.5rem;
  }

  .ull li .titulo {
    font-size: 0.8rem;
  }
}
