@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* bg == colors */

  --background: rgb(255, 255, 255);
  --secondary: rgb(0, 0, 0);
  --nav-bg: #4d2222;
  --bg-white: #fff;

  /* text == colors */

  --text-gray: #adb9c7;
  --text-white: #fdfdfd;
  --text-black: rgb(0, 0, 0);

  /* button == colors */
}

/* ================ */

/*====== RESET ==========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*====== HEADER ======*/

header {
  background-image: url(img/navbar.png);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  top: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
}

/* ====== Inicio ======*/

#cart-toggle,
#men-toggle,
.men-label {
  display: none;
}
/* =========== NavBar ========== */

.navbar {
  gap: 10rem;
}

.navbar,
.lista-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-nav {
  gap: 3rem;
}
.lista-nav a {
  color: rgb(255, 255, 255);
}
.search-icon {
  width: 30px;
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
}

.lista-nav .active {
  font-weight: 600;
  color: #f00808;
}

/* BODY */
main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background: var(--secondary);
  justify-content: center;
  align-items: center;
  padding: 5px 320px;
}

.texto h1 {
  color: #ff8800;
  animation: mover 4s 1;
}

@keyframes mover {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}

.texto p {
  font-weight: 800;
  padding: 5px 0px;
  animation: mover 3s 1;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://ss-static-01.esmsv.com/id/144323/galeriaimagenes/obtenerimagen/?id=9&tipoEscala=crop&width=1920&height=1080);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-info {
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 200px 0;
  max-width: 1300px;
}
.hero-info h1 {
  font-size: 60px;
  font-weight: 800;
  min-width: 350px;
  text-align: center;
  border-radius: 25px;
}
.hero-info span {
  background: linear-gradient(to top, #ff0000, rgb(211, 207, 170));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.hero-info p {
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 30px;
  color: var(--text-white);
  border-radius: 25px;
}

.hero-info b {
  background: linear-gradient(to top, #ff0000, rgb(211, 207, 170));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 800;
}
.page-name {
  color: var(--text-white);
}

/* Buttons */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--text-black);
  cursor: pointer;
}

.buttons > :last-child a {
  text-decoration: none;
  color: var(--text-black);
}

.buttons:hover a {
  background: none;
}

button {
  padding: 0.8em 1.8em;
  border: 2px solid #c94028;
  position: relative;
  overflow: hidden;
  background-color: #c94028;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #000000;
  cursor: pointer;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  background: #fcfcfc;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}

/* texto entre cards y hero */

#info-maps {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  color: var(--text-black);
  padding: 90px 25px;
}
.middle-text {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
  line-height: 30px;
  width: 100%;
  height: 100%;
  padding: 0 200px;
  font-size: 18px;
}

/* cards */

#cards {
  width: 100%;
  height: 100%;
  color: var(--text-black);
  padding: 20px 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/Garage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.subtitle-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-direction: column;
  letter-spacing: 2px;
  padding: 50px 0;
  background: linear-gradient(to top, #ff0000, rgb(211, 207, 170));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.subtitle-cards h2 {
  font-size: 50px;
  font-weight: 900;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: auto;
}

.content {
  padding: 10px;
}

.content h3 {
  margin-top: 0;
}

.content p {
  margin-bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0px 0px 25px 60px;
}

.card {
  background: rgba(255, 255, 255, 0.726);
  position: relative;
  align-items: center;
  justify-content: center;
  width: 520px;
  box-shadow: 0 10px 20px rgba(248, 0, 0, 0.2);
  padding: 42px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #000000;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #be6217 0%, #c21717 100%);
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #ff0303;
}

.content .btn:active {
  box-shadow: none;
}

/* ============== contacto ============== */

#contacto {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  color: var(--text-black);
  border-bottom: #000000 1px solid;
}
.contact-us {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0;
}
.contact-info {
  display: flex;
  justify-content: space-around;
  /* gap: 15px; */
}
.contact-card {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.list-styles {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}
.icon-info {
  display: flex;
  padding: 10px 10px;
  gap: 10px;
}
.list-info {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-background {
  background-color: var(--text-gray);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

/* iconos de abajo */

.icons {
  padding: 10px 0;
  display: flex;
  gap: 20px;
  padding: 20px 0;
  cursor: pointer;
}
/* imagen de contacto */

/* footer */
#footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  padding: 5px 0;
}
.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--text-white);
  gap: 3rem;
  font-size: 10px;
}

.ull {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.ull li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.ull li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.ull li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  opacity: 0;
  transition: 0.5s;
}
.ull li:hover::before {
  opacity: 1;
}

.ull li::after {
  content: "";
  position: absolute;
  top: 10px;
  height: 100%;
  width: 100%;
  border-radius: 60px;
  background: rgba(192, 23, 23, 0.61);
  opacity: 8;
  transition: 0.5s;
  z-index: -1;
  filter: blur(55px);
}
.ull li:hover::after {
  opacity: 0.5;
}
.ull li i {
  transform: #777;
  font-size: 1.75em limportant;
  transition: 0.5s;
  transition-delay: 0.25s;
}
.ull li:hover i {
  transform: scale(0);
  font-size: 1.75em;
  transition-delay: 0.25s;
}

.ull li span {
  position: absolute;
}

.ull li .titulo {
  color: #080000;
  font-size: 1.1em limportant;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.ull li:hover .titulo {
  transform: scale(1);
  transition-delay: 0.25s;
}
